html, body
{
	width: 100%;
	margin: 0;
	padding: 0;
}

body
{
	background:  rgb(6,6,6);
	text-align: justify;
	display : flex;
	flex-direction: column;
	position: relative;
}

a 
{
	font-style: normal; 
	text-decoration: none; 
	color: rgb(50,50,50);
	padding: 0;
	margin : 0;
}

a:hover
{
	text-decoration: none;
	cursor: pointer;
}

header
{
	align-items: center;
	justify-content: center;
}

h1
{
	max-height: 100%;
	margin: auto 30% auto 0;
	text-align: center;
	font-size: 6em;
	font-family: 'UnifrakturCook', cursive;
	font-weight: normal;
	color: #c27722;
	text-shadow: 3px 3px 3px rgb(87,87,87);
	flex: 2;
}

#logo
{
	position: absolute;
	top: 0%;
	right: 0%;
	height: 300px;
	margin: 0;
	padding: 0;
}

#police_style_active
{
	color: rgb(221,221,221);
	font-family: 'Metal Mania', cursive;
	font-weight: 100;
	font-size: 1.8em;
}

.police_style
{
	color: #bbbbbb;
	font-size: 1.4em;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 700;
}

#menu
{
	background: linear-gradient(to bottom, rgb(219, 135, 39), rgb(27,17,4));
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0 11% 0 1%;
}

#menu, #menu ul
{
	margin: 0;
	list-style:none;
	text-align:center;
}

#menu li
{
	display: inline-block;
	position: relative;
	padding: 1% 1%;
}

#menu > li, #menu ul
{
	transition: all 0.2s 0s;
}

#menu ul
{
	padding: 0;
	position: absolute;
	z-index: 1000;
	max-height: 0;
	left: 0;
	right: 0;
	top: 95%;
	overflow: hidden;
}

#menu ul li
{
	display: inherit;
}

#menu li:hover ul, #menu li:focus ul
{
	max-height: 30em;
}

#menu li li
{
	background: #CE7F24;
	font-size: 1em;
	font-family: 'Cinzel Decorative', cursive;
	font-weight: 700;
	padding: 2%;
}

#menu li:hover, #menu li:focus
{
	background: #CE7F24;
	color: rgb(50,50,50);
}

#menu li li:hover, #menu li li:focus
{
	background: rgb(50,50,50);
	color: #CE7F24;
}

#menu li li:hover, #menu li:hover, #menu li li:focus, #menu li:focus
{
	background-clip: padding-box;
}

#menu a
{
	text-decoration: none;
}

#menu a:hover, #menu a:focus
{
	text-decoration: underline;
}

#menu li li:hover a, #menu li li:focus a
{
	color: #CE7F24;
}

.grid {
	position: absolute;
	top: 500px;
	left: 20%;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 50px;
	margin: auto;
	margin-top: 0;
}

.grid div {
	width: 400px;
	height: 300px;
	border: ridge #BBBBBB;
	margin: 0;
	padding: 0;
	box-shadow: 5px 5px 8px white;
}

.grid div a {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-grow: 1;
	margin-top: 0;
	background-color: rgb(46,46,46);
}

.grid div h2 {
	width: 100%;
	height: 150px;
	text-align: center;
	color: black;
	font-size: 3em;
	margin: 0;
	background-image: url(../assets/box_link.png);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.grid div p {
	width: 100%;
	color: white;
	font-size: 1.4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.grid div:hover {
	transform: translate(-4px, -4px);
	cursor: pointer;
}

aside
{
	display: flex;
	border-left: 5px solid rgb(219, 135, 39);
	border-top: 5px solid rgb(219, 135, 39);
	border-bottom: 5px solid rgb(219, 135, 39);
	border-radius: 40px 0 0 40px / 200px 0 0 200px;
	box-shadow: 2px 2px 2px 2px #42280B inset;
	max-width: 10%;
	position: fixed;
	right: 0%;
	bottom: 10%;
	overflow: hidden;
	text-align: center;
	margin: 0;
	background-color: rgb(50,50,50);
}

aside a
{
	font-family: 'Cinzel Decorative', cursive;
	font-weight: normal;
	font-size: 1.1em;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	color: rgb(221,221,221);
	padding: 7% 20% 5%;
}

aside a:hover
{
	text-decoration: underline; 
	background: rgb(221,221,221);
	background-clip: padding-box;
	color: rgb(25, 25, 25);
	font-weight: bold;
}

footer {
	#display: none;
}

.content div {
	margin-bottom: 44px;
}

.content div p {
	width: 50%;
	margin: auto;
	text-align: justify;
	color: white;
	font-size: 2em;
}

.content div h2 {
	width: 50%;
	margin: auto;
	margin-bottom: 44px;
	text-align: center;
	color: rgb(219, 135, 39);
	font-size: 4em;
}

.content div figure {
	width: 560px;
	margin: auto;
}

.content div figure * {
	width: 100%;
	height: 315px;
}

.content:empty {
	width: 100px;
	height: 100px;
	margin: auto;
	margin-top: 44px;
	border: 6px double;
	border-color: rgb(219, 135, 39) transparent rgb(219, 135, 39) transparent;
	border-radius : 50%;
	animation-name: rotate;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg)}
}

